
/* 

Herança

1. Sobreposição / Sobrescreve
2. Aplica a último estilo definido
3. Prioriza estilo específicas (com seletores mais próximos)
4. Se aplica a todas as propriedades

*/


html {
    font-family: sans-serif;
    color: #333333;
    }
    
    p {
    color: #454545;
    }
    
    header p {
    color: #fff;
    font-size: 1.5rem;
    }
    
    td {
    text-align: right;
    }  
    #grafico-01 {
    background-color: brown;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 25%;
    }
    
    #tecnologia {
     width: 100%;
     height: auto;
    
    }
    
    
    
    
    .coluna-100w {
    width: 50%;
    }
    
    .iframe {
    width: 50%;
    }
    
    
    
    
    /* 
    
    Combinadores 
    
    (espaço) seletor descendente 
    (>) combinador de seletores filhos
    (+) combinador de elementos irmãos adjacentes / que vem logo na sequencia
    (~) combinador de elementos irmãos geral / após elemento de referência
    
    
    */
    
    
    header h2 {
    font-weight: 100;
    }
    
    
    header > h2 {
    font-weight: 600;
    }
    
    h2 + p {
    background: #fff;
    color: #000000;
    font-style: italic;
    }
    
    h2 ~ h5 {
    font-size: 1.2rem;
    }
    
    
    
    div ~ p {
    text-transform: uppercase;
    }
    
    
    /* Pseudo-classes */
    
    a {
    color: #555555;
    text-decoration: none; /* o padrão é underline */
    font-size: 1.5rem;
    display: block;
    width: 100%;
    height: auto;
    }
    
    a:visited {
    color: #f00;
    }
    
    a:active {
    color: #096;
    }
    
    a:hover {
    color: #009;
    background: #eee;
    }
    
    h2:hover {
    color: #000000;
    }
    
    
    /* 
    Tipografia
    */
    
    html {
    font-family: sans-serif;
    }
    
    h1, h2, h3 {
    font-weight: 400;
    font-family: 'Limelight', cursive;
    }
    
    p {
    font-weight: normal;
    font-size: 1.4rem;
    }
    
    ul {
    padding-left: .5rem;
    margin-left: .5rem;	
    }
    
    li {
    letter-spacing: 0.01rem;
    font-family: sans-serif;
    line-height: 1.5;
    }
    
    h3 {
    /* declaração resumida / completa */
    font: italic bold 1.2rem/2 sans-serif;
    }
    
    
    /* 
    
    Cores
    
    */
    
    body {
    
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='557' height='557' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23007788' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23007788'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    }
    
    section {
    background: rgba(255, 255, 255, 0.95);
    }
    
    
    
    header
    {
    background-color: #007788;
    }
    footer {
    background-color: #007788
    ;
    }
    
    footer p {
    color: rgb(255, 255, 255);
    }
    
    .navegacao {
    background-color: #007788;
    color: #007788;
    }
    
    .navegacao li a {
    color: white;
    font-size: 1.4rem;
    }
    
    .navegacao li a:hover {
    background-color: rgba(150, 150, 200, .5);
    color: #333333;
    }
    
    /*FILTROS*/
    .filtro {
    filter: grayscale(0%);
    }
    
    .filtro:hover {
    filter: grayscale(100%);
    }
    
    /*mobile firts*/
    
    
    /*tablet*/
    @media (max-width: 768px) { 
    
    body {
    
        background-color: #000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='557' height='557' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23007788' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23007788'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
        }
    
        section {
            background: rgba(0, 0, 0, 0.95);
        }
    
        article p{
            color: #fff;
            text-align: justify;
          }
          h1, :active {
            color: #fff;
        }
        html {
            font-family: sans-serif;
            color: #fff;
        }
        h2 + p {
            background: #000000;
            color: #fff;
            font-style: italic;
        }
    
        footer p {
            color: rgb(0, 0, 0);
        }
    }
    
    
    @media (max-widht:768px) {
    
    nav{
        width: 30vw;
    }
    article{
        width: 70vw;
    }
    .coluna {
        width: 50vw;
        min-width: unset;
    }
    }
    
    /*smartphone*/
    
    @media (max-width: 425px) { 
    body {
    
        background-color: #000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='557' height='557' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23007788' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23007788'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
        }
    
        section {
            background: rgba(0, 0, 0, 0.95);
        }
    
        article p{
            color: #fff;
            text-align: justify;
          }
          h1, :active {
            color: #fff;
        }
        html {
            font-family: sans-serif;
            color: #fff;
        }
        h2 + p {
            background: #000000;
            color: #fff;
            font-style: italic;
        }
    
        footer p {
            color: rgb(0, 0, 0);
        }
    
    }
    
    
    @media (max-width: 425px) {  
    
    nav,
    article,
    .coluna {
    width: 100%;
    min-width: 320px;
    }
    }
    
    
    
    @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
    }
    